@media screen and (max-width: 480px) {
  #notification-bar {
    padding: 15px;
    display: none;
  }
  #notification-bar span {
    display: none;
  }
  #nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    /* border: 1px solid; */
    justify-content: space-between;
  }
  #logo {
    margin-left: 5px;
  }
  #menubar {
    display: inline-block !important;
    margin-left: 5px;
  }
  #nav-bar ul {
    width: 100%;
    display: block;
    position: absolute;
    top: 4rem;
    /* border: 1px solid; */
    transform: translateY(-12.5rem);
    opacity: 0;
    transition: 0.7s;
    z-index: -1;
  }
  #nav-bar ul li {
    padding: 5px 10px;
  }
  .hid {
    display: none;
  }
  #svg {
    position: relative;
  }
  #svg-section {
    margin-right: 10px;
  }
  #nav-bar ul li:hover .fa-angle-down {
    transform: rotate(-90deg);
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #notification-bar {
    padding: 15px;
  }
  #notification-bar span {
    display: inline-block;
  }
  #nav-bar {
    position: fixed;
    /* border: 1px solid; */
    justify-content: space-between;
  }
  #logo {
    margin: 0 15px;
  }
  #menubar {
    display: inline-block;
    margin-left: 5px;
  }
  #nav-bar ul {
    /* width: 100%; */
    display: flex;
    position: absolute;
    margin-left: 10rem;
  }
  #nav-bar ul li {
    padding: 5px 10px;
  }
  #svg-section svg {
    margin-right: 7px;
  }
  #svg-section {
    margin-right: 7px;
  }
}
